---
layout: page
title: Son Bloglar
---
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/style.css">
    <title>{{ page.title }} | Muhammed'in bloğu</title>
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
</head>
<body>
    {% for tag in site.tags %}
        <h1 align="center">{{ tag[0] }}</h1>
        {% for post in tag[1] %}
        ◻️ <a href="{{ post.url }}">{{ post.title }}</a><br />
        {% endfor %}
    {% endfor %}
</body>
</html>