#id01, h3 {
    color: #376296;
}
p, h1, h2, h4, h5, h6, text, ul, ol, h6 a, #id00{
    color: orange
}
body {
    width: auto;
    margin: 40px 20px 20px 20px;
    background-color:black;
    padding: 20px 20px 20px 20px;
    border: 20px solid darkgrey;
}
html {
    background-color: white
}
header img {
    height: 60px;
    margin: 20px;
}
header {
    background-color: darkgrey;
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 20px solid white;
}
header * {
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}
header h2{
    margin-left: auto;
    color: #376296
}