h1, #id03 {
    color:cyan;
}
p, a, h2, h3, h4, h5, h6, text, ul, ol, #id00{
    color:gold
}
#id01 {
    color:red
}
#id02 {
    color: green
}

body {
    width: auto;
    margin: 40px 20px 20px 20px;
    background-color:black;
    padding: 20px 20px 20px 20px;
    border: 20px solid darkgrey;
}
html {
    background-color: white
}
header img {
    height: 60px;
    margin: 20px;
}
header {
    background-color: darkgrey;
    position: fixed;
    top: 0;
    left: 20px;
    right: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 20px solid white;
}
header * {
    display: flex;
}
header li {
    margin-top: 20px;   
    margin-right: 10px;
}
header h3, header a{
    text-decoration: none;
    color: black;
}