---
layout: page
---
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kişisel genel sitem ve blogum." />
    <title>{{ page.title }} | Muhammed'in sitesi</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="shortcut icon" href="https://mukonqi.ml/icon.png" type="image/x-icon">
    <meta property="og:title" content="Muhammed'in sitesi" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:description" content="Kişisel genel sitem ve blogum." />
    <meta property="og:url" content="https://mukonqi.ml" />
    <meta property="og:site_name" content="mukonqi.ml" />
</head>
<body>
    {{ content }}
    <h1>Son bloglar</h1>

    <ul class="posts">
    {% for post in site.posts %}
        <a href="{{ post.url }}">
        <li>
            <h2>{{ post.title }}</h2>
            {{ post.excerpt }}
        </li>
        </a>
    {% endfor %}
    </ul>
</body>
</html>
