<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | Muhammed'in Sitesi</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="shortcut icon" href="/assets/icon.png" type="image/x-icon">
</head>
<body>
    <header>       
        <!-- <nav>
            <a href="/"><img src="/assets/icon.png" alt=""></a>
            <ul>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/projeler.html">Projelerim</a></li>
                <li><a href="https://github.com/MuKonqi">GitHub</a></li>
                <li><a href="https://matrix.to/#/@mukonqi:kde.org">Matrix</a></li>
                <li><a href="/mukonqi.github.io-hakkında.html">mukonqi.github.io Hakkında</a></li>
            </ul>
        </nav> -->
        <a href="/"><img src="/assets/icon.png" alt=""></a>
        <ul>
            <h3><a href="/blog.html">Blog</a></h3>
            <h3><a href="/projeler.html">Projelerim</a></h3>
            <h3><a href="https://github.com/MuKonqi">GitHub</a></h3>
            <h3><a href="https://matrix.to/#/@mukonqi:kde.org">Matrix</a></h3>
            <h3><a href="/hakkında.html">Hakkında</a></h3>
        </ul>
        <h2>{{ page.title }}</h2>
    </header>
    <main><h4>{{ content }}</h4></main>
</body>
</html>