---
layout: page
---

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Muhammed'in blogu</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="shortcut icon" href="https://mukonqi.ml/icon.png" type="image/x-icon">
</head>
<body>
    <h1>{{ page.title }}</h1>
    {{ content }}
</body>
</html>
