@media screen and (prefers-color-scheme: dark) {
    :root {
        --color1: #000000;
        --color2: #2f2f2f;
        --color3: #a9a9a9;
        --color4: #507090;
    }
}
@media screen and (prefers-color-scheme: light) {
    :root {
        --color1: #ffffff;
        --color2: #a9a9a9;
        --color3: #2f2f2f;
        --color4: #204060;
    }
}
.header {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 45px;
    display: flex;
    text-align: center;
    background-color: var(--color2);
    border-bottom: 5px solid var(--color3);
}
.header * {
    display: flex;
    align-items: center;
    text-align: center;
    color: #376296;    
}
.header .mukonqi {
    margin: 0px auto 0px 25px;
    text-align: center;
    align-items: center;
}
.header .mukonqi img {
    height: 45px;
    width: 27px;
    margin: 0px;
}
.header .title {
    margin: 0px;
}
.header .left {
    align-content: center;
    color: #376296;
    text-align: center;
    align-items: center;
    margin: 0px 25px 0px auto;
}
.content {
    margin: calc(50px + 5vh) 25vw;
}
.text {
    margin: 5vh;
}
.post {
    background-color: var(--color2);
    border-radius: 10px;
    padding: 10px;
    margin: 25px 0px;
}
.name {
    background-color: var(--color3);
    padding: 10px;
    border-radius: 10px;
    margin: 0px;
    text-align: center;
    align-content: center;
    color: #376296;
    transition: all 1s;
}
.name:hover, .name:active {
    background-color: #376296;
    transform: scale(1.25);
    color: var(--color3);
}
.button {
    background-color: var(--color3);
    color: #376296;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}
.button:hover, .button:active {
    background-color: #376296 !important;
    color: var(--color2) !important;
    transform: scale(1.125) !important;
}
#spoiler {
    transition: all 1s;
    transform: translate3d(0, 0, 0);
}
.content img {
    display: flex;
    margin: 10px auto;
    width: 100%;
    height: 56.24999999999999%;
    border-radius: 10px;
}
.content #img *:hover, text #img *:active {
    transform: scale(1.25);
    background-color: var(--color3);
    border-radius: 25px;
    padding: 5px;
}
.link {
    background-color: var(--color2);
    padding: 15px;
    border-radius: 15px;
}
.footer {
    text-align: center;
    color: var(--color3);
    background-color: var(--color2);
    border-top: 5px solid var(--color3);
    padding: 10px;
}
.footer .links, .footer .links * {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
}
.footer .links .link {
    background-color: var(--color3);
    color: #376296;
    border-radius: 25px;
    padding: 10px;
    transition: all 1s;
}
.footer .links .link:hover, .footer .links .link:active {
    background-color: #376296;
    color: var(--color2);
    transform: scale(1.25);
}
.footer #license_button {
    color: darkred;
    cursor: pointer;
}
li, ul {
    list-style: inside;
}
pre {
    white-space: pre-wrap;
}
body, pre {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--color1);
}
html {
    display: grid;
    background-color: var(--color2);
}
a {color: var(--color4); text-decoration: none;}
h1, h2, h3, h4, h5, h6 {color: #376296; text-align: center;}
* {color: var(--color3)}
.title2 {display: none;}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header .title {display: none;}
    .content {
        margin: calc(50px + 5vh) 5vw;
    }
    .title2 {
        display: block;
        text-align: center;
    }
    .content img {
        width: 87.5%;
        height: 49.2187499999%;
    }
    .footer .links, .footer .links * {
        display: block;
    }
    .footer .links .link {
        margin: 0px 25px;
    }   
}