.header {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.header .text {
    margin: 0px auto 0px auto;
}
.lang {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.lang .links {
    padding: 25px;
    border-radius: 25px;
    width: 75vw;
    background-color: var(--color2);
}
body {
    outline: var(--color2) solid 0px;
    border: 0px solid var(--color2);
}
html {background-color: var(--color1);}
.lang .links:hover, .lang .pc .links:active {transform: scale(1.2);}
.lang .links:active, .lang .links:active {background-color: var(--color1);}
.header .copyright {margin: 0px 40px 0px 0px;}
.text-mobile, .footer {display: none;}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px), only screen and (min-device-height : 320px) and (max-device-height : 480px) {
    .lang .links {
        border-radius: 25px;
        width: 75vw;
        padding: 5px;
    }
    .lang .links:hover, .lang .links:active {
        transform: scale(1.12);
    }
    .header .copyright {
        margin: 0px 20px 0px auto;
    }
}