@media screen and (prefers-color-scheme: dark) {
    :root {
        --color1: #000000;
        --color2: #2f2f2f;
        --color3: #a9a9a9;
    }
}
@media screen and (prefers-color-scheme: light) {
    :root {
        --color1: #ffffff;
        --color2: #a9a9a9;
        --color3: #2f2f2f;
    }
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    display: flex;
    text-align: center;
    background-color: var(--color2);
}
.header * {
    display: flex;
    align-items: center;
    text-align: center;    
}
.header .mukonqi {
    margin: 0px auto 0px 25px;
    text-align: center;
    align-items: center;
}
.header .mukonqi img {
    height: 50px;
    width: 30px;
    margin: 0px;
}
.header .title {
    margin: 0px;
}
.header .left {
    align-content: center;
    color: #376296;
    text-align: center;
    align-items: center;
    margin: 0px 25px 0px auto;
}
.content {
    display: grid;
    margin: calc(50px + 5vh) 5vw 5vh 5vw;
    padding: 50px;
    background-color: var(--color1);
    border-radius: 25px;
}
.album {
    background-color: #376296;
    margin: 1vh 10vw;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
}
.album:hover, .album:active {
    background-color: var(--color3);
    color: #376296;
    transform: scale(1.25);
}
.content img {
    margin: 10px auto;
    width: 100%;
    height: 56,24999999999999%;
    border-radius: 10px;
}
#img_top {
    margin-top: 0px;
}
#img_bottom {
    margin-bottom: 0px;
}
.footer {
    text-align: center;
    color: var(--color3);
    background-color: var(--color2);
    padding: 10px;
}
.footer .links, .footer .links * {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
}
.footer .links .link {
    background-color: var(--color3);
    color: #376296;
    border-radius: 25px;
    padding: 10px;
}
.footer .links .link:hover, .footer .links .link:active {
    background-color: #376296;
    color: var(--color2);
    transform: scale(1.25);
}
.footer #license_button {
    color: darkred;
    cursor: pointer;
}
li, ul {
    list-style: inside;
}
pre {
    white-space: pre-wrap;
}
body, pre {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--color2);
}
html {
    display: grid;
    background-color: var(--color2);
}
a {text-decoration: none;}
* {color: var(--color3)}
a, h1, h2, h3, h4, h5, h6, .header * {color: #376296}
h1, h2, h3, h4, h5, h6 {text-align: center;}
.title2 {display: none;}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header .title {display: none;}
    .content {
        margin: calc(50px + 5vh) 10vw;
    }
    .title2 {
        display: block;
        text-align: center;
    }
    .content {
        padding: 25px;
    }
    .footer .links, .footer .links * {
        display: block;
    }
    .footer .links .link {
        margin: 0px 25px;
    }   
}