@media screen and (prefers-color-scheme: dark) {
    :root {
        --color1: #000000;
        --color2: #2f2f2f;
        --color3: #a9a9a9;
    }
}
@media screen and (prefers-color-scheme: light) {
    :root {
        --color1: #ffffff;
        --color2: #a9a9a9;
        --color3: #2f2f2f;
    }
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--color2);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.header .grelintb {
    padding: 0px;
    margin: 0px 0px 0px 25px;
    align-items: center;
}
.header .grelintb img {
    height: 48px;
    width: 48px;
    margin: 0px;
}
.header .description {
    align-items: center;
    text-align: center;
    margin: 0px 0px 0px 10px;
    padding: 0px;
}
.header .link {
    align-items: center;
    text-align: center;
    margin: 0px 10px 0px 0px;
    padding: 0px;
}
.header .download {
    margin: 0px 10px 0px auto;
}
.header .github {
    margin: 0px 25px 0px 0px;
}
.header .github img {
    height: 48px;
    width: 48px;
    margin: 0px;   
}
.text .description, .text .changelogs, .text .features {
    background-color: var(--color2);
    padding: 10px;
    border-radius: 10px;
    margin: 25px 25px 0px 25px;
}
.text .button {
    background-color: var(--color3);
    color: #376296;
    padding: 10px;
    margin: 25px 25vw 0vh 25vw;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.text .button:hover, .text .button:active {
    background-color: var(--color2) !important;
    transform: scale(1.25) !important;
    outline: #376296 solid 5px !important;
}
.features a *:hover, .features a *:active {
    transform: scale(1.025);
    background-color: var(--color3);
    border-radius: 25px;
}
.features img {
    margin: auto;
    width: 75%;
    height: 42.1874999999%;
    display: block;
}
.footer {
    text-align: center;
    color: var(--color3);
    border-top: 5px solid var(--color2);
    margin-top: 25px;
    padding: 10px;
}
.footer .links, .footer .links * {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
}
.footer .links .link {
    background-color: var(--color3);
    color: #376296;
    border-radius: 25px;
    padding: 10px;
}
.footer .links .link:hover, .footer .links .link:active {
    background-color: #376296;
    color: var(--color2);
    transform: scale(1.25);
}
.footer #license_button {
    color: darkred;
    cursor: pointer;
}
code {
    padding: 5px;
    background-color: var(--color3);
    border-radius: 5px;
    color: var(--color1);
    white-space: nowrap;
}
li, ul {
    list-style: inside;
}
pre {
    white-space: pre-wrap;
}
body, pre {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}
html {
    display: grid;
    background-color: var(--color1);
}
.text {color: var(--color3)}
.header *, a, h1, h2, h3, h4, h5, h6 {color: #376296}
a {text-decoration: none;}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header .description {
        display: none;
    }
    .header {border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .header .grelintb {
        margin: 0px 0px 0px 2.5px;
    }
    .header .github {
        margin: 0px 2.5px 0px 0px;
    }
    .text .description, .text .changelogs, .text .features {
        margin: 25px 0px 0px 0px;
    }
    .features img {
        width: 87.5%;
        height: 49.2187499999%;
    }
    .footer .links, .footer .links * {
        display: block;
    }
    .footer .links .link {
        margin: 0px 25px;
    }
}