@media screen and (prefers-color-scheme: dark) {
    :root {
        --color1: #000000;
        --color2: #2f2f2f;
        --color3: #a9a9a9;
    }
}
@media screen and (prefers-color-scheme: light) {
    :root {
        --color1: #ffffff;
        --color2: #a9a9a9;
        --color3: #2f2f2f;
    }
}
.space {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 10px;
    background-color: var(--color1);
}
.header {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 50px;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: var(--color2);
    border-radius: 10px;
}
.header * {
    display: flex;
    align-items: center;
    text-align: center;    
}
.header .mukonqi {
    padding: 0px;
    margin: 0px auto;
    align-items: center;
    text-align: center;
}
.header .mukonqi img {
    height: 50px;
    width: 30px;
    margin: 0px;
}
.content {
    margin: calc(60px + 5vh) 20px 0px 20px;
}
.page {
    background-color: var(--color2);
    margin: 0px 25vw 5vh 25vw;
    border-radius: 10px;
    text-align: center;
}
.page h3 {
    padding: 5px;
}
.page p {
    margin: 0px 10px;
}
.page .links, .page .links * {
    display: flex;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
}
.page .description {
    margin: 0px auto 0px 0px;
}
.page .link {
    background-color: #376296;
    color: var(--color3);
    border-radius: 10px;
    padding: 10px;
    transition: all 1s;
}
.page .link:hover, .page .link:active {
    transform: scale(1.5);
    outline: var(--color3) 10px solid;
}
.footer {
    text-align: center;
    color: var(--color3);
    background-color: var(--color2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    padding: 10px;
}
.footer .button {
    background-color: var(--color3);
    color: #376296;
    border-radius: 25px;
    margin: 0px 25vw 0px 25vw;
    padding: 10px;
    cursor: pointer;
    transition: all 1s;
}
.footer .button:hover, .footer .button:active {
    background-color: #376296;
    color: var(--color2);
    transform: scale(1.25);
}
.footer #license_button {
    color: darkred;
    cursor: pointer;
}
pre {
    white-space: pre-wrap;
}
body, pre {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--color1);
}
html {
    display: grid;
    background-color: var(--color2);
}
a {text-decoration: none;}
.content, .header .link * {color: var(--color3)}
.header *, a, h1, h2, h3, h4, h5, h6, .description {color: #376296}
h1, h2, h3, h4, h5, h6 {text-align: center;}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .page {
        margin: 0px auto 5vh auto;
    }
    .page .links, .page .links * {
        padding: 5px 5px;
    }
}