@media screen and (prefers-color-scheme: dark) {
    :root {
        --color1: #2f2f2f;
        --color2: #000000;
        --color3: #a9a9a9;
        --color4: #18521d;
        --color5: #323d33;
        --color6: #ffffff;
    }
}
@media screen and (prefers-color-scheme: light) {
    :root {
        --color1: #a9a9a9;
        --color2: #ffffff;
        --color3: #2f2f2f;
        --color4: #548058;
        --color5: #4c5e4e;
        --color6: #000000;
    }
}
.header .text-mobile, .header .main-mobile, .header .links-mobile, .header .links-mobile_2, .lang .mobile {display: none;}
.lang .links, html {background-color: var(--color2)}
.header, .footer, .nav {background-color: var(--color1);}
.text * {color: var(--color2)}
.text a *{color: #a9a9a9;}
.text .description a, .footer * {color: var(--color3)}
a {text-decoration: none;}
.lang {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.lang .links {
    padding: 25px;
    border-radius: 25px;
    width: 75vw;
}
.lang .links:hover, .lang .pc .links:active {
    transform: scale(1.2);
}
.lang .links:active, .lang .links:active {
    background-color: var(--color5);
}
.lang .links *, .lang .links * {
    color: var(--color6);
}
.space {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 10px;
    display: flex;
    background-color: black;
    cursor: default;
}
.header {
    font-size: smaller;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 80px;
    display: flex;
    padding: 0px;
    align-items: center;
    border-radius: 20px;
}
.header .main *, .header .main-mobile *{
    padding: 0px;
    margin: 0px;
    align-items: center;
}
.header .main, .header .main-mobile {
    padding: 0px;
    margin: 0px 0px 0px 40px;
}
.header .main img{
    height: 80px;
    width: 48px;
    margin: 0px;
}
.header .text {
    margin: 0px auto 0px auto;
    align-items: center;
    text-align: center;
}
.header .text, header .text *{
    margin: 0px;
    padding: 0px;
}
.header .links {    
    margin: 0px 40px 0px auto;
    padding: 0px;
}
.header .links * {
    margin: auto;
    padding: 0px 0px 0px 10px;
}
.header .links .link {
    background-color: var(--color3);
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
}
.header .links .link:active {
    background-color: var(--color1);
}
.header * {
    display: flex;
    margin: 10px;
    text-align: justify;
    text-align-last: left;
    color: #376296;
}
#title-top {
    margin-top: 65px;
}
.text .title {
    text-align: center;
}
.text .links, .text .box {
    background-color: var(--color5);
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto 50px auto 50px;
    padding: 25px;
    border-radius: 25px;
}
.text .links:hover, .text .links:active, .header .links .link:hover, .header .links .links:active, .footer p #language:active, .footer p #language:hover {
    transform: scale(1.1);
}
.text .links:active, .text .box {
    background-color: var(--color4);
}
.text .box {
    outline: var(--color1) solid 10px;
}
.text .description {
    margin: 40px 80px;
}
.text .contact .links {
    padding: 15px;
    background-color: #1c262b;
}
.text .contact .links:hover, .text .contact .links:active {
    background-color: #28423f;
}
.footer {
    position: absolute;
    left: 40px;
    right: 40px;
    text-align: center;
}
.footer a{
    color: red;
}
.footer p #language{
    background-color: var(--color3);
    color: var(--color2);
    padding: 10px;
    border-radius: 100px;
}
.footer p #language:active {
    background-color: var(--color1);
    color: var(--color6);
}
.footer *, footer{
    padding: 0px;
}
.footer, .header {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 10px 40px 100px 40px;
    padding: 25px;
    background-color: #376296;
    border: 10px solid var(--color1);
}
@media only screen and (min-device-width : 481px) and (max-device-width : 768px) {
    .header .links {display: none;}
    .header .links-mobile_2 {
        display: flex;
        margin: 0px 40px 0px auto;
        padding: 0px;
    }
    .header .links-mobile_2 * {
        margin: 0px;
        padding: 0px 0px 0px 10px;
    }
    .header .links-mobile_2 a{
        background-color: var(--color3);
        padding: 10px;
        border-radius: 10px;
    }
    .header .links-mobile_2 a:active {
        background-color: var(--color1);
    }
    .text .description {
        margin: 30px 15px;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px), only screen and (min-device-height : 320px) and (max-device-height : 480px) {
    .header .text, .header .text-mobile, .header .main, .header .links, .header .links-mobile_2 {display: none;}
    .lang .links {
        border-radius: 25px;
        width: 75vw;
        padding: 5px;
    }
    .lang .links:hover, .lang .links:active {
        transform: scale(1.12);
    }
    .space {
        background-color: #376296;
    }
    .header {
        height: 40px;
        left: 10px;
        right: 10px;
        border-radius: 100px;
        top: 10px;
    }
    .header .main-mobile img {
        height: 40px;
        width: 24px;
    }
    .header .main-mobile {
        display: flex;
        margin: 0px 0px 0px 10px;
    }
    .header .links-mobile {
        display: flex;
        margin: 0px 10px 0px auto;
    }
    .header .links-mobile *{
        margin: 0px;
    }
    .header .links-mobile a{
        background-color: var(--color3);
        padding: 5px;
        border-radius: 10px;
    }
    .header .links-mobile a:active {
        background-color: var(--color1);
    }
    .header .copyright {
        height: 40px;
        display: flex;
        margin: 0px 0px 0px auto;
        align-items: center;
        align-content: center;
    }
    #title-top {
        margin-top: 0px;
    }
    .text {
        margin-top: 30px
    }
    .text .links, .text .box {
        margin: 0px;
    }
    .text .links:hover, .text .links:active {
        transform: scale(1.06);
    }
    .text .description {
        margin: 30px 15px;
    }
    body {
        margin: 10px 0px 0px 0px;
        border: 0px;
    }
    html {
        background-color: #376296;
    }
    .footer {
        left: 0px;
        right: 0px;
        outline: 0px;
        border-radius: 0px;
    }
    .header .text-mobile {
        display: flex;
        margin: 0px 0px 0px auto;
        align-items: center;
        align-content: center;
    }
}