@keyframes a-t300 {
    0% {
        color: black;
    }
    34% {
        color: blue;
    }
    67% {
        color: gray;
    }
}
@keyframes a-th8s {
    0% {
        color: black;
    }
    50% {
        color: red;
    }
}
.t300 p {
    animation: a-t300 4s infinite;
}
.th8s p {
    animation: a-th8s 4s infinite;    
}