* {
    color: #376296;
}

.space {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 10px;
    background-color: var(--color1);
}

.header {
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: var(--color2);
    border-radius: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.header .mukonqi {
    padding: 0px;
    margin: 0px 25px;
}

.header .mukonqi * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .mukonqi img {
    height: 50px;
    width: 30px;
    margin: 0px;
}

.header .back {
    background-color: #376296;
    color: var(--color2);
    border-radius: 25px;
    padding: 10px;
    width: 100px;
    margin: auto;
    cursor: pointer;
    transition: all 1s;
}

.header .back:hover, .header .back:active {
    transform: scale(1.25);
    background-color: var(--color3);
    color: #376296;
}

.content {
    margin: 80px 25vw 20px 25vw;
    text-align: center;
    color: #376296;
}

.content img {
    margin: auto;
    width: 75%;
    height: 42.1874999999%;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 1s;
}

.footer {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;  
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .header .mukonqi {
        margin: 0px 10px;
    }

    .content {
        margin: 80px 10vw 20px 10vw;
    }

    .content img {
        width: 87.5%; 
        height: 49.2187499999%;
    }

    .content .button {
        margin: 10px 5px 0px 5px;
    }

    .content .page {
        margin: 0px 7.5px;
    }
}