
.space {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 10px;
    background-color: var(--color1);
}

.header {
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 50px;
    display: flex;
    text-align: center;
    background-color: var(--color2);
    border-radius: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.header * {
    display: flex;
    align-items: center;
    text-align: center;   
    color: #376296;     
}
.header .mukonqi {
    padding: 0px;
    margin: 0px 0px 0px 25px;
    align-items: center;
    text-align: center;
}

.header .mukonqi img {
    height: 50px;
    width: 30px;
    margin: 0px;
}

.header .links {
    padding: 0px;
    margin: 0px 25px 0px auto;
    align-items: center;
    text-align: center;
}

.header .link {
    margin: 6px;
    background-color: #376296;
    padding: 10px;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    transition: all 1s;
}

.header .link:active, .header .link:hover, .header .clicked {
    background-color: var(--color1);
    outline: var(--color3) solid 10px;
}

.content {
    margin: 80px 25vw 20px 25vw;
}

.content, .header .link * {
    color: var(--color3);
}

.content img {
    margin: auto;
    width: 75%;
    height: 42.1874999999%;
    border-radius: 10px;
    margin-top: 20px;
    transition: all 1s;
}

.content #img *:hover, text #img *:active {
    transform: scale(1.25);
    background-color: var(--color3);
    border-radius: 25px;
    padding: 5px;
}

.content .button {
    background-color: var(--color2);
    color: #376296;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: all 1s;
}

.content .button:hover, .content .button:active {
    background-color: var(--color3) !important;
    transform: scale(1.25) !important;
}

.index, .projects, .setup {
    transition: all 1s;
    transform: translate3d(0, 0, 0);
}

.project {
    background-color: var(--color2);
    margin: 25px 0px;
    border-radius: 10px;
}

.project .title {
    padding: 5px;
    background-color: var(--color3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 1s;
}

.project .title * {
    margin: 0px;
    color: #376296;
}

.project .title:hover, .project .title:active {
    transform: scale(1.125);
    border-radius: 10px;
}

.project .archived {
    color: yellow;
}

.project .removed, .project .stopped {
    color: darkred;
}

.project .removed {
    text-decoration: line-through var(--color1);
}

.project p {
    padding: 10px;
}

.footer {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  
}

li, ul {
    list-style: inside square;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .content {
        margin: 80px 10vw 20px 10vw;
    }

    .content img {
        width: 87.5%; 
        height: 49.2187499999%;
    }

    .content .button {
        margin: 10px 5px 0px 5px;
    }

    .content .page {
        margin: 0px 7.5px;
    }
}